vendor/
node_modules/
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
.idea/blade.xml
.idea/blog.iml
.idea/encodings.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.env.example
public/favicon.ico
public/js/app.js
storage/
